h1{
    font-size: 5rem;
    color: crimson;
    font-weight: 500;
}
h2{
    font-size: medium;
    color: blue;
}
h3{
    font-size: small;
    color: bisque;

}
p{
    color: aqua;
    font-size: small;
}